<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhb.nioserver.msgInfo.dao.MsgInfoMapper">
  <resultMap id="BaseResultMap" type="com.bhb.nioserver.msgInfo.bean.MsgInfo">
    <id column="info_no" jdbcType="INTEGER" property="infoNo" />
    <result column="trade_channel" jdbcType="VARCHAR" property="tradeChannel" />
    <result column="trade_code" jdbcType="VARCHAR" property="tradeCode" />
    <result column="send_msg" jdbcType="VARCHAR" property="sendMsg" />
    <result column="rsp_msg" jdbcType="VARCHAR" property="rspMsg" />
    <result column="exc_desc" jdbcType="VARCHAR" property="excDesc" />
    <result column="trade_flag" jdbcType="VARCHAR" property="tradeFlag" />
    <result column="trade_flag_desc" jdbcType="VARCHAR" property="tradeFlagDesc" />
    <result column="send_time" jdbcType="VARCHAR" property="sendTime" />
    <result column="send_addr" jdbcType="VARCHAR" property="sendAddr" />
  </resultMap>
  <sql id="Base_Column_List">
    info_no, trade_channel, trade_code, send_msg, rsp_msg, exc_desc, trade_flag, trade_flag_desc, 
    send_time, send_addr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from msg_info
    where info_no = #{infoNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from msg_info
    where info_no = #{infoNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bhb.nioserver.msgInfo.bean.MsgInfo">
    insert into msg_info (info_no, trade_channel, trade_code, 
      send_msg, rsp_msg, exc_desc, 
      trade_flag, trade_flag_desc, send_time, 
      send_addr)
    values (#{infoNo,jdbcType=INTEGER}, #{tradeChannel,jdbcType=VARCHAR}, #{tradeCode,jdbcType=VARCHAR}, 
      #{sendMsg,jdbcType=VARCHAR}, #{rspMsg,jdbcType=VARCHAR}, #{excDesc,jdbcType=VARCHAR}, 
      #{tradeFlag,jdbcType=VARCHAR}, #{tradeFlagDesc,jdbcType=VARCHAR}, #{sendTime,jdbcType=VARCHAR}, 
      #{sendAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bhb.nioserver.msgInfo.bean.MsgInfo">
    insert into msg_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoNo != null">
        info_no,
      </if>
      <if test="tradeChannel != null">
        trade_channel,
      </if>
      <if test="tradeCode != null">
        trade_code,
      </if>
      <if test="sendMsg != null">
        send_msg,
      </if>
      <if test="rspMsg != null">
        rsp_msg,
      </if>
      <if test="excDesc != null">
        exc_desc,
      </if>
      <if test="tradeFlag != null">
        trade_flag,
      </if>
      <if test="tradeFlagDesc != null">
        trade_flag_desc,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="sendAddr != null">
        send_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoNo != null">
        #{infoNo,jdbcType=INTEGER},
      </if>
      <if test="tradeChannel != null">
        #{tradeChannel,jdbcType=VARCHAR},
      </if>
      <if test="tradeCode != null">
        #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="sendMsg != null">
        #{sendMsg,jdbcType=VARCHAR},
      </if>
      <if test="rspMsg != null">
        #{rspMsg,jdbcType=VARCHAR},
      </if>
      <if test="excDesc != null">
        #{excDesc,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlag != null">
        #{tradeFlag,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlagDesc != null">
        #{tradeFlagDesc,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="sendAddr != null">
        #{sendAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bhb.nioserver.msgInfo.bean.MsgInfo">
    update msg_info
    <set>
      <if test="tradeChannel != null">
        trade_channel = #{tradeChannel,jdbcType=VARCHAR},
      </if>
      <if test="tradeCode != null">
        trade_code = #{tradeCode,jdbcType=VARCHAR},
      </if>
      <if test="sendMsg != null">
        send_msg = #{sendMsg,jdbcType=VARCHAR},
      </if>
      <if test="rspMsg != null">
        rsp_msg = #{rspMsg,jdbcType=VARCHAR},
      </if>
      <if test="excDesc != null">
        exc_desc = #{excDesc,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlag != null">
        trade_flag = #{tradeFlag,jdbcType=VARCHAR},
      </if>
      <if test="tradeFlagDesc != null">
        trade_flag_desc = #{tradeFlagDesc,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="sendAddr != null">
        send_addr = #{sendAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where info_no = #{infoNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bhb.nioserver.msgInfo.bean.MsgInfo">
    update msg_info
    set trade_channel = #{tradeChannel,jdbcType=VARCHAR},
      trade_code = #{tradeCode,jdbcType=VARCHAR},
      send_msg = #{sendMsg,jdbcType=VARCHAR},
      rsp_msg = #{rspMsg,jdbcType=VARCHAR},
      exc_desc = #{excDesc,jdbcType=VARCHAR},
      trade_flag = #{tradeFlag,jdbcType=VARCHAR},
      trade_flag_desc = #{tradeFlagDesc,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=VARCHAR},
      send_addr = #{sendAddr,jdbcType=VARCHAR}
    where info_no = #{infoNo,jdbcType=INTEGER}
  </update>
</mapper>